body {
    background: rgb(255, 255, 255);
    color: #050505;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
}
  
.box {
    inline-size: 500px; 
}

p {
    font-size: 2rem;
    text-align: left;
}
  